<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/2.9"
	id		= "com.phonegap.ace.ams"
	versionCode = "813" 
	version 	= "1.1.5">

	<name>World Cup 2015 Schedule</name>

	<description>
		World Cup 2015 Schedule
	</description>

	<author href="http://www.aceindia.com"
		email="arjun.sarankulu@gmail.com">
		Ace Commodity Exchange Ltd.
	</author>

	<icon src="app_icon.jpg" gap:role="default" />
	<feature name="http://api.phonegap.com/1.0/network"/>
	<access origin="*" />
</widget>
